#md365-signup {
  background: #ffffff00;
  font: 14px Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.md365-form form {
  display: block;
  position: relative;
  text-align: center;
}

.md365-h3 h3 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.3em;
  text-align: center;
  color: #757578;
}

.md365-h4 {
  padding: 0;
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
  color: #757578;
}

#rectangle {
  display: flex;
  padding: 5px;
  background: #f0f0f0;
}

.pr-1 {
  margin-right: 10px !important;
}

.md365-input-wrapper {
  text-align: center;
  display: flex;
}

.md365-input-wrapper input {
  vertical-align: bottom;
  margin: 5px;
  padding: 0 10px;
  outline: none;
  font-size: 14px !important;
  font-weight: normal;
  border-radius: 4px;
  flex-grow: 1;
}

.md365-input-wrapper input[type="submit"] {
  border: 1px solid;
  transition: all 0.2s ease-in-out 0s;
  color: #757578;
  background-color: #ffffff;
  cursor: pointer;
  height: 39px;
  min-width: 100px;
  max-width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.md365-input-wrapper input[type="text"],
[type="email"] {
  height: 39px;
  background-color: #eee;
  border: 1px solid;
  border-color: #ffffff00;
  transition: all 0.2s ease-in-out 0s;
}

.md365-end {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.hidden {
  display: none;
}
